html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.gallery-img
{
    padding:20px;
}
.przycisk {
    border-radius: 20px;
    background-color: #ff94a6;
    color:white;
    padding:10px;
    text-align:center;
}