@model IEnumerable<GofromaniaWebApp.Models.Opinie>
<div class="row">
    <img src="~/img/baner.png" class="img-fluid" />
</div>
<div class="row" style="margin-top:200px;">
    <div class="col-sm-12">

    </div>
    <div class="col-sm-12">

    </div>
</div>
<div class="row text-center">
    <div class="col-sm-4 offset-sm-4">
        <h1>Gofromania</h1>
        <p>owstała z miłości do pyszności i słodkości.</p>
        <p>Specjalizujemy się w wypiekaniu gofrów z najwyższej jakości składników z sezonowymi dodatkami od lokalnych dostawców.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 offset-sm-1">
        <div class="row">
            <div class="col-xl-2 col-md-3 col-sm-4 gallery-img">
                <img src="~/img/gallery/zdj1.jpg" class="img-fluid" />
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 gallery-img">
                <img src="~/img/gallery/zdj2.jpg" class="img-fluid" />
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 gallery-img">
                <img src="~/img/gallery/zdj3.jpg" class="img-fluid" />
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 gallery-img">
                <img src="~/img/gallery/zdj4.jpg" class="img-fluid" />
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 gallery-img">
                <img src="~/img/gallery/zdj5.jpg" class="img-fluid" />
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 gallery-img">
                <img src="~/img/gallery/zdj6.jpg" class="img-fluid" />
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 gallery-img">
                <img src="~/img/gallery/zdj7.jpg" class="img-fluid" />
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 gallery-img">
                <img src="~/img/gallery/zdj8.jpg" class="img-fluid" />
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 gallery-img">
                <img src="~/img/gallery/zdj9.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:100px;" name="mapa">
    <div class="col-sm-12 text-center"><h2>Czekamy na was w każdą niedzielę targową</h2></div>
</div>
<div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4073.863602909887!2d16.567533821913354!3d52.61781190565227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47041700e03551e1%3A0xe60a4aca2202a40e!2sGofromania!5e0!3m2!1spl!2spl!4v1673173025417!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="row" style="margin-top:100px;">
    <div class="col-sm-4 offset-4 text-center">
        <h1>Opinie naszych gości</h1>
    </div>
</div>
<div class="row text-center" style="margin-top:100px;">
    <div class="col-sm-10 offset-1">
        <div class="row">
        @foreach (var item in Model) {
                <div class="col-xl-1 col-md-2 col-sm-3">
                        <h4>@Html.DisplayFor(modelItem => item.Autor)</h4><br />
                        <h4>@Html.DisplayFor(modelItem => item.Ocena) / 5</h4><br />
                        <h6>@Html.DisplayFor(modelItem => item.Opinia)</h6>

                </div>
        }
        </div>
    </div>
</div>
<div class="row text-center" style="margin-top:100px;">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6" style="margin:auto;">
        <a class="nav-link text-light" asp-area="" asp-controller="Opinies" asp-action="Create">
            <div class="przycisk"><h2>Podziel się swoją opinią</h2></div>
        </a>
    </div>
</div>
